.task1 .item {
  position: relative;
  left: 200px;
  top: 150px;
}

.task2 .item {
  position: absolute;

  top: calc(50% - 40px);
  left: calc(50% - 40px);
}

.task3 .item {
  position: absolute;
        top: 0px;
        left: 0px;
}

.container4 {
  display: block;
}

.task4 {
  max-width: 1000px;
  position: relative;
}
.task4 .item {
  position: relative;
  position: local;
top: 0px;
left: calc(50% - 40px);
}

.task5 .item1 {
  background-color: red;
  position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
}
.task5 .item2 {
  position: absolute;
        top: 40px;
        left: 40px;
        z-index: 1;
}

.task5 .item3 {
  background-color: green;
  position: absolute;
        top: 0px;
        left: 0px;
        z-index: 3;
}

.task6 .item {
  float: left;
  object-position: right;
}

.task7 .item {
  float: right;
  object-position: left;
}

.task8 .item1 {
  display: inline-block;
  position: relative;
  float: left;
  object-position: top;
}
.task8 .item2 {
  position: relative;
  display: inline-block;
  height: 120px;
  float: right;
  object-position: top;
}

.task8 p {
  display: inline-block;
  width: 100%;
  
}

.task9 {
  position: absolute;
  max-width: fit-content;
}

.task9 .item1 {
  height: 200px;
  display: inline-block;
  position: relative;
  float: left;
  object-position: top;
}
.task9 .item2 {
  display: block;
  position: relative;
  left: 88%;
}

.task9 p {
  vertical-align: middle;
}

.task10 .item1 {
  
  display: inline-block;
  position: relative;
  left: 0px;
  object-position: top;
}
.task10 .item2 {
  height: 200px;
  display: block;
  position: relative;
  float: right;
}
.task10 p {
  vertical-align: middle;
  text-align: center;
  -ms-text-justify: auto;
}

.task11 .img-item {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.task12 .img-item {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.task13 .img-item {
  height: 100%;
  width: 100%;
  object-fit: fill;
  object-position: center center;
}

.task14 .img-item {
  height: 100%;
  width: 100%;

  object-fit: scale-down;
  object-position: center center;
}

.task15 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: right center;
}

.task16 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: left top;
}

.task17 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: center bottom;
}

.task18 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: left top;
  padding: 25px 40px;
}

.task19 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: center center;
}

.task20 {
  user-select: none;
}

.task21:hover {
  user-select: all;
}

.task22 {
  cursor: text;
  caret-color: blue;
}

html {
  scroll-behavior: smooth;
}
